// Navigation code here


nav{
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    background-color: @porcelain;
    position: fixed;
    left: 0;

    h1{
        font-size: @desktopH1FontSize;
    }

    .site-navigation-bar{
        width: 65%;
        padding: 2rem 0 0 2rem;
        margin: 0 auto;
        
        @media (max-width:500px){
            width: 100%;
        }

        ul{
            display: flex;
            justify-content: space-evenly;
        }

        ul li{
            display: inline;

            a{
                text-decoration: none;
                color: black;
                font-size: @desktopPFontSize;

                &:hover{
                    text-decoration: line-through;
                    animation-name: colourchange;
                    animation-duration:10s;
                    animation-iteration-count: infinite;
                    animation delay: 1s;
                    animation-direction: alternate; 
                }
            }
        }
    }
}


@keyframes colourchange{
    0% {
     color: crimson;
    }
    25% {
        color: grey;
    }
    50% {
        
        color: orange;
    }
    75% {
         color: grey;
    }
    100% {
        color: grey;
    }
}
